.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e4e4e4;
  padding: 10px 20px;
  width: 50%;
  max-width: 1200px;
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
  z-index: 1001;
}

.image-manage {
  flex-shrink: 0;
}

.logo {
  width: 120px;
  height: auto;
  cursor: pointer;
}

.nav-links {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  gap: 20px;
  justify-content: space-around;
  margin-left: 55px;
  margin-right: 55px;
}

.header-btn {
  background: none;
  border: none;
  font-size: 16px;
  font-weight: 500;
  color: black;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  text-decoration: none;
  position: relative;
  z-index: 1002;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  margin-top: 5px;
}

.header-btn.active {
  color: #fd151b;
  font-weight: 600;
  font-size: 20px;
}
.header-btn.active:hover {
  transform: none;
  color: #fd151b;
}

.header-btn:hover {
  color: #fc2f00;
  transform: scale(135%);
}

.signin {
  font-size: 16px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  text-decoration: none;
  position: relative;
  z-index: 1002;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  width: 80px;
  text-align: center;
  background-color: black;
  padding: 8px;
  margin-bottom: 2px;
  text-align: center;
  border-radius: 20px;
}

.signin:hover {
  transform: scale(105%);
}

.signout {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease;
}

.signout:hover {
  background-color: #e60000;
}
