.container {
  display: flex;
  width: 100%;
  margin-top: 50px;
}
.order-container {
  max-width: 400px;
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: auto;
  margin-right: 100px;
}

.order-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.logo {
  width: 150px;
  height: auto;
}

h2 {
  font-size: 18px;
  margin-left: 100px;
}

.order-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-group {
  display: flex;
  gap: 10px;
  margin: 8px;
}

.input-group input {
  flex: 1;
}

input,
select {
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  width: 100%;
  margin: 5px;
}

.con {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.email {
  width: 350px;
}

.book-button {
  background-color: #e67e22;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 180px;
  display: block;
  text-align: center;
}

.book-button:hover {
  background-color: #d35400;
}

/* Centering the button */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
